In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd


from epftoolbox.data import read_data
from epftoolbox.evaluation import MAE, sMAPE, RMSE
from epftoolbox.models import LEAR

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

from datetime import datetime as dt

In [93]:
PJM = pd.read_csv('PJMeval.csv', index_col=[0])
NP = pd.read_csv('NPeval.csv', index_col=[0])
FR = pd.read_csv('FReval.csv', index_col=[0], parse_dates=[0])
NGBoost = pd.read_csv('forecast_ng.csv', index_col=[0])


df = pd.read_csv('df_test.csv', index_col=[0])

# PJM LEAR, DNN, NGBOOST

In [4]:
PJM

,Real price,DNN 1,DNN 2,DNN 3,DNN 4,DNN Ensemble,LEAR 56,LEAR 84,LEAR 1092,LEAR 1456,LEAR Ensemble
27/12/2016 00:00,19.113045,19.706123,19.040689,19.661985,18.857361,19.316540,20.1291,20.7366,19.1060,18.9901,19.740450
27/12/2016 01:00,18.042768,18.578808,18.628008,18.581722,17.804329,18.398217,19.5229,19.5459,18.2766,18.4639,18.952325
27/12/2016 02:00,17.587395,17.405716,17.954073,17.564003,16.387474,17.327816,19.0085,18.9345,17.4325,17.5918,18.241825
27/12/2016 03:00,17.399361,16.994461,17.322933,16.941095,15.673610,16.733025,18.9757,19.2347,17.4400,17.5345,18.296225
27/12/2016 04:00,17.804108,18.000519,18.452641,17.457172,15.920693,17.457756,19.3679,19.8770,18.1750,18.1798,18.899925
...,...,...,...,...,...,...,...,...,...,...,...
26/01/2017 19:00,32.532418,35.463852,34.982365,33.913315,33.568974,34.482126,33.9588,33.4068,35.8747,36.8332,35.018375
26/01/2017 20:00,32.359850,34.117020,32.247231,32.549648,33.142986,33.014221,32.5864,31.9694,34.3195,34.9149,33.447550
26/01/2017 21:00,27.024776,30.924381,29.068047,29.203970,30.024324,29.805181,29.7851,28.7912,30.1627,30.5398,29.819700
26/01/2017 22:00,25.084933,27.033443,26.138130,25.693201,26.761005,26.406445,26.0611,24.7918,26.5028,26.8162,26.042975
26/01/2017 23:00,23.213711,24.580513,23.537296,23.653360,24.919537,24.172677,23.9410,23.5673,24.1160,24.5428,24.041775

In [5]:
PJM_DNN = PJM

In [97]:
PJM.drop(['DNN 2', 'DNN 3', 'DNN 4', 'DNN Ensemble', 'LEAR 84', 'LEAR 1092', 'LEAR 1456', 'LEAR Ensemble'], axis=1, inplace=True)
NP.drop(['DNN 2', 'DNN 3', 'DNN 4', 'DNN Ensemble', 'LEAR 84', 'LEAR 1092', 'LEAR 1456', 'LEAR Ensemble'], axis=1,  inplace=True)
FR.drop(['DNN 2', 'DNN 3', 'DNN 4', 'DNN Ensemble', 'LEAR 84', 'LEAR 1092', 'LEAR 1456', 'LEAR Ensemble'], axis=1,  inplace=True)

In [7]:
PJM

                  Real price      DNN 1  LEAR 56
27/12/2016 00:00   19.113045  19.706123  20.1291
27/12/2016 01:00   18.042768  18.578808  19.5229
27/12/2016 02:00   17.587395  17.405716  19.0085
27/12/2016 03:00   17.399361  16.994461  18.9757
27/12/2016 04:00   17.804108  18.000519  19.3679
...                      ...        ...      ...
26/01/2017 19:00   32.532418  35.463852  33.9588
26/01/2017 20:00   32.359850  34.117020  32.5864
26/01/2017 21:00   27.024776  30.924381  29.7851
26/01/2017 22:00   25.084933  27.033443  26.0611
26/01/2017 23:00   23.213711  24.580513  23.9410

[744 rows x 3 columns]

### PJM_LEAR_MAE_MAPE

In [8]:
MAE_PJM = pd.DataFrame(columns=['RMSE','MAE','sMAPE(%)'], index=PJM.index)
for date in PJM.index:
    MAE_PJM.loc[date]['RMSE'] = RMSE(pd.Series(PJM.loc[date]['LEAR 56']), pd.Series(PJM.loc[date]['Real price']))
    MAE_PJM.loc[date]['MAE'] = MAE(pd.Series(PJM.loc[date]['LEAR 56']), pd.Series(PJM.loc[date]['Real price']))
    MAE_PJM.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(PJM.loc[date]['LEAR 56']), pd.Series(PJM.loc[date]['Real price'])) * 100

In [9]:
MAE_PJM

                      RMSE       MAE  sMAPE(%)
27/12/2016 00:00  1.016055  1.016055  5.178387
27/12/2016 01:00  1.480132  1.480132  7.880238
27/12/2016 02:00  1.421105  1.421105  7.766472
27/12/2016 03:00  1.576339  1.576339  8.667141
27/12/2016 04:00  1.563792  1.563792  8.413815
...                    ...       ...       ...
26/01/2017 19:00  1.426382  1.426382  4.290437
26/01/2017 20:00   0.22655   0.22655  0.697654
26/01/2017 21:00  2.760324  2.760324  9.717761
26/01/2017 22:00  0.976167  0.976167  3.817176
26/01/2017 23:00  0.727289  0.727289  3.084693

[744 rows x 3 columns]

In [10]:
print(f"Overall RMSE : {RMSE(PJM['LEAR 56'], PJM['Real price'])}")

Overall RMSE : 3.057569933417542

In [11]:
print(f"Overall MAE : {MAE(PJM['LEAR 56'], PJM['Real price'])}")

Overall MAE : 2.2324875712365593

In [12]:
print(f"Overall sMAPE : {sMAPE(PJM['LEAR 56'], PJM['Real price']) * 100}")

Overall sMAPE : 7.597143505568613

### PJM_DNN_MAE_MAPE

In [13]:
MAE_PJM = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=PJM.index)
for date in PJM.index:
    MAE_PJM.loc[date]['RMSE'] = RMSE(pd.Series(PJM.loc[date]['DNN 1']), pd.Series(PJM.loc[date]['Real price']))
    MAE_PJM.loc[date]['MAE'] = MAE(pd.Series(PJM.loc[date]['DNN 1']), pd.Series(PJM.loc[date]['Real price']))
    MAE_PJM.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(PJM.loc[date]['DNN 1']), pd.Series(PJM.loc[date]['Real price'])) * 100

In [14]:
print(f"Overall MAE : {MAE(PJM['DNN 1'], PJM['Real price'])}")

Overall MAE : 2.1765672896236556

In [15]:
print(f"Overall sMAPE : {sMAPE(PJM['DNN 1'], PJM['Real price']) * 100}")

Overall sMAPE : 7.50924188506638

In [16]:
print(f"Overall RMSE : {RMSE(PJM['DNN 1'], PJM['Real price'])}")

Overall RMSE : 2.929825690654638

### PJM_NGBOOST_MAE_MAPE

In [17]:
NGB = pd.DataFrame(columns=['Predicted', 'Real Price'], index=pd.date_range(start=dt(2017, 12, 26, 0, 0, 0), end=dt(2018, 12, 24, 23, 0, 0), freq='H'))

In [18]:
temp = []
for _,row in enumerate(NGBoost.index):
    for value in NGBoost:
         temp.append(NGBoost.loc[row][value])

In [19]:
NGB['Predicted'] = temp

In [20]:
NGB.reset_index(inplace=True)
df.reset_index(inplace=True)
NGB['Real Price'] = df['Price']
NGB.set_index('index',inplace=True)
df.set_index('Date',inplace=True)

In [21]:
NGB = NGB[:30*24]

In [22]:
MAE_NGB = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=NGB.index)
for date in NGB.index:
    #MAE_NGB.loc[date]['RMSE'] = RMSE(pd.Series(NGB.loc[date]['Predicted']), pd.Series(PJM.loc[date]['Real price']))
    MAE_NGB.loc[date]['MAE'] = MAE(pd.Series(NGB.loc[date]['Predicted']), pd.Series(NGB.loc[date]['Real Price']))
    MAE_NGB.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(NGB.loc[date]['Predicted']), pd.Series(NGB.loc[date]['Real Price'])) * 100

In [23]:
#NGBOOST PJM MAE
print(f"Overall MAE : {MAE(NGB['Predicted'], NGB['Real Price'])}")

Overall MAE : 10.582150308006632

In [25]:
#NGBOOST PJM MAPE
print(f"Overall sMAPE : {sMAPE(NGB['Predicted'], NGB['Real Price']) * 100} %")

Overall sMAPE : 23.33853202166183 %

# NP LEAR, DNN, NGBOOST

In [26]:
NP

                  Real price      DNN 1  LEAR 56
27/12/2016 00:00       24.08  24.530144  25.1290
27/12/2016 01:00       22.52  23.115845  24.2083
27/12/2016 02:00       20.13  22.563509  23.9289
27/12/2016 03:00       19.86  22.047380  23.4943
27/12/2016 04:00       20.09  23.055725  23.5104
...                      ...        ...      ...
26/01/2017 19:00       30.66  30.362480  30.3091
26/01/2017 20:00       29.85  29.554022  30.2290
26/01/2017 21:00       29.67  29.148659  29.6552
26/01/2017 22:00       29.05  28.654337  29.2686
26/01/2017 23:00       28.66  28.070572  28.9244

[744 rows x 3 columns]

### NP_LEAR_MAE_MAPE

In [27]:
 MAE_NP = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=NP.index)
for date in NP.index:
    MAE_PJM.loc[date]['RMSE'] = RMSE(pd.Series(NP.loc[date]['LEAR 56']), pd.Series(NP.loc[date]['Real price']))
    MAE_NP.loc[date]['MAE'] = MAE(pd.Series(NP.loc[date]['LEAR 56']), pd.Series(NP.loc[date]['Real price']))
    MAE_NP.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(NP.loc[date]['LEAR 56']), pd.Series(NP.loc[date]['Real price'])) * 100

In [28]:
print(f"Overall MAE : {MAE(NP['LEAR 56'], NP['Real price'])}")

Overall MAE : 1.7682907258064515

In [29]:
print(f"Overall sMAPE : {sMAPE(NP['LEAR 56'], NP['Real price']) * 100}")

Overall sMAPE : 5.3357347320699935

In [30]:
print(f"Overall RMSE : {RMSE(NP['LEAR 56'], NP['Real price'])}")

Overall RMSE : 3.184784680917026

### NP_DNN_MAE_MAPE

In [31]:
MAE_NP = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=NP.index)
for date in NP.index:
    MAE_NP.loc[date]['RMSE'] = RMSE(pd.Series(NP.loc[date]['DNN 1']), pd.Series(NP.loc[date]['Real price']))
    MAE_NP.loc[date]['MAE'] = MAE(pd.Series(NP.loc[date]['DNN 1']), pd.Series(NP.loc[date]['Real price']))
    MAE_NP.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(NP.loc[date]['DNN 1']), pd.Series(NP.loc[date]['Real price'])) * 100

In [32]:
print(f"Overall MAE : {MAE(NP['DNN 1'], NP['Real price'])}")

Overall MAE : 1.5872619102822583

In [33]:
print(f"Overall sMAPE : {sMAPE(NP['DNN 1'], NP['Real price']) * 100}")

Overall sMAPE : 4.714884901352434

In [34]:
print(f"Overall RMSE : {RMSE(NP['DNN 1'], NP['Real price'])}")

Overall RMSE : 2.903248470854296

### NP_NGBOOST_MAE_MAPE

In [66]:
NGBoost_NP = pd.read_csv('ngboost_NP.csv', index_col=[0])
NGBoost_NP.dropna(inplace=True)
NGBoost_NP_m = NGBoost_NP.drop(['h0_sd', 'h1_sd', 'h2_sd', 'h3_sd',
     'h4_sd', 'h5_sd', 'h6_sd', 'h7_sd',
       'h8_sd', 'h9_sd',  'h10_sd',  'h11_sd',
        'h12_sd',  'h13_sd',  'h14_sd', 
       'h15_sd',  'h16_sd',  'h17_sd',  'h18_sd',
        'h19_sd',  'h20_sd',  'h21_sd', 
       'h22_sd',  'h23_sd', 'RMSE'],axis=1)

In [67]:
df1 = pd.read_csv('df_testNP30.csv', index_col=[0])

In [68]:
df1

                  Price  Exogenous 1  Exogenous 2
Date
26/12/2017 00:00  25.82        41942         3817
26/12/2017 01:00  24.94        41236         3839
26/12/2017 02:00  23.81        41088         3796
26/12/2017 03:00  23.68        41089         3804
26/12/2017 04:00  24.29        41331         3829
...                 ...          ...          ...
25/01/2018 19:00  32.18        57273         1532
25/01/2018 20:00  31.49        55528         1500
25/01/2018 21:00  30.73        53916         1480
25/01/2018 22:00  29.71        51694         1396
25/01/2018 23:00  28.98        48986         1244

[744 rows x 3 columns]

In [69]:
NGB_NP = pd.DataFrame(columns=['Predicted', 'Real Price'], index=pd.date_range(start=dt(2017, 12, 26, 0, 0, 0), end=dt(2018, 1, 25, 23, 0, 0), freq='H'))

In [70]:
NGB_NP

                    Predicted Real Price
2017-12-26 00:00:00       NaN        NaN
2017-12-26 01:00:00       NaN        NaN
2017-12-26 02:00:00       NaN        NaN
2017-12-26 03:00:00       NaN        NaN
2017-12-26 04:00:00       NaN        NaN
...                       ...        ...
2018-01-25 19:00:00       NaN        NaN
2018-01-25 20:00:00       NaN        NaN
2018-01-25 21:00:00       NaN        NaN
2018-01-25 22:00:00       NaN        NaN
2018-01-25 23:00:00       NaN        NaN

[744 rows x 2 columns]

In [71]:
temp1 = []
for _,row in enumerate(NGBoost_NP_m.index):
    for value in NGBoost_NP_m:
         temp1.append(NGBoost_NP_m.loc[row][value])

In [72]:
NGBoost_NP_m

,h0_m,h1_m,h2_m,h3_m,h4_m,h5_m,h6_m,h7_m,h8_m,h9_m,...,h14_m,h15_m,h16_m,h17_m,h18_m,h19_m,h20_m,h21_m,h22_m,h23_m
Date,,,,,,,,,,,,,,,,,,,,,
26/12/2017,23.309600,23.377889,23.377889,23.377889,23.377889,23.612730,24.195583,24.598462,25.176159,25.290890,...,25.288943,25.840641,25.975478,25.973117,25.840641,25.531411,25.255270,25.132796,24.569892,24.562557
27/12/2017,24.129149,24.542419,26.349568,27.309616,27.648202,28.242677,29.189210,30.674322,31.307623,31.307623,...,31.598061,32.541489,33.253419,33.280407,33.423597,32.680816,32.763838,32.068551,31.708296,31.370524
28/12/2017,30.161439,30.367586,30.376274,30.410690,30.402002,30.451667,31.643451,33.141862,33.280950,33.358996,...,33.688921,34.043019,34.844506,34.135528,32.541489,31.549300,31.135097,30.439810,29.822148,29.010864
29/12/2017,27.172281,27.153588,26.839709,26.926407,26.901821,26.505249,27.664624,28.988864,30.117343,30.117343,...,30.556921,31.562486,32.236990,32.236990,32.215268,31.166756,30.957809,30.213280,29.644859,29.284327
30/12/2017,27.958707,27.966468,27.966468,27.518126,27.400363,27.369000,27.242529,27.968683,28.329215,28.946878,...,29.294715,29.139700,29.368877,29.368877,29.017341,28.788164,28.301610,27.894385,27.232665,26.685167
31/12/2017,29.047596,29.071239,29.371705,29.371705,29.776846,29.871427,29.132688,29.658905,29.403056,28.937322,...,25.328111,25.683780,26.399567,26.669474,27.663362,27.786930,27.235232,27.080983,26.717410,26.472220
01/01/2018,27.550491,27.699167,27.604871,27.500563,27.061360,27.082350,27.088140,27.507108,27.234098,27.176699,...,26.950563,27.515071,27.474792,28.259858,28.451102,28.516676,28.221538,28.312609,28.049869,27.947976
01/02/2018,27.593154,27.687976,27.663545,27.733984,27.620930,28.084306,28.824361,29.445694,29.880637,29.927868,...,29.904038,30.797573,32.796702,33.271597,30.432024,29.598750,29.073813,28.897431,28.590309,28.383226
01/03/2018,27.060203,26.440485,26.225892,25.857847,25.654220,25.919533,26.871108,27.429040,27.531410,28.522182,...,30.088419,30.410301,32.245840,33.773147,31.958263,29.929728,29.536386,29.356453,29.042815,28.918189
01/04/2018,28.228725,28.081170,27.977154,27.977154,28.046353,28.670958,29.814281,31.636718,32.596351,32.647412,...,33.668765,35.280015,37.539757,37.973316,36.961499,34.714157,32.519245,31.960822,30.813772,29.674172
01/05/2018,29.452333,29.320900,29.320900,29.320900,29.452333,30.595942,32.983503,35.362024,39.402319,39.402319,...,36.994458,40.039855,41.268917,41.477801,40.039855,36.330973,34.428306,33.456436,32.784497,32.000654
01/06/2018,30.063357,29.253610,29.202235,29.122177,29.253610,29.807508,31.075391,32.026329,32.923346,33.291869,...,34.269064,34.597190,36.861494,38.568947,37.649003,34.697956,33.248712,32.276841,32.181652,31.194354
01/07/2018,30.095838,29.960029,29.596456,29.630873,30.011374,30.011374,30.106364,31.000487,31.594088,32.266027,...,32.341490,33.279238,34.291004,35.963165,34.279344,33.157906,32.003021,31.736438,30.955957,30.547239
01/08/2018,30.019113,29.792975,29.804635,29.973825,30.321447,31.903417,35.131362,43.568428,46.985630,44.014497,...,41.960516,43.517670,45.431466,46.168821,41.904089,38.731996,34.396624,33.490567,32.116905,31.034220
01/09/2018,31.152728,30.523835,30.225393,30.375338,30.251450,30.460814,31.853798,35.990991,37.198178,36.885215,...,35.800501,36.807962,37.175691,37.175691,37.120925,35.800501,35.290933,33.098782,31.793476,31.402789
01/10/2018,30.377359,30.160529,30.425837,30.730262,30.810435,32.203700,34.466843,39.695920,41.495365,40.725104,...,43.154473,44.211403,45.687381,47.129564,44.625834,43.484119,39.206527,36.910462,35.071530,34.104321
01/11/2018,33.563763,33.076903,33.076903,33.076903,33.303042,34.450334,37.280790,45.441926,48.122019,47.351759,...,45.488467,47.249657,48.231763,49.673947,47.526047,44.701452,40.869741,37.492222,35.442258,34.377112
01/12/2018,32.899956,32.438576,32.157818,31.880741,32.106879,33.073664,35.200252,39.969643,41.699766,41.699766,...,39.942595,40.056822,41.029670,41.735387,40.143574,38.665128,35.406007,34.648834,33.717245,32.785324
13/01/2018,28.015169,27.974036,27.610463,27.406791,27.610463,27.974036,27.894072,28.127228,28.386200,28.349601,...,28.698502,28.704877,29.359979,31.173796,29.244637,28.401292,28.298922,28.172116,27.980604,28.145580
14/01/2018,28.003978,27.849698,27.560354,27.406791,27.560354,27.874128,27.906793,27.859285,28.092960,28.418501,...,28.619058,28.669832,29.244637,30.941351,29.047610,28.763715,28.251416,28.022239,28.008686,27.839244
15/01/2018,26.600370,26.585565,26.585565,26.585565,26.600370,26.568057,27.358758,31.423558,32.206770,32.152004,...,31.862980,32.078759,32.078759,32.078759,32.078759,31.826796,29.815130,27.908664,27.243842,26.968660
16/01/2018,26.078325,26.576225,26.585565,26.585565,26.776342,27.216694,28.609552,32.287188,33.561392,33.597119,...,33.175806,33.742676,36.836850,37.066083,34.693609,32.735214,31.229460,29.456108,28.947006,28.597175
17/01/2018,28.185596,28.220847,28.343082,28.330593,28.336105,28.607926,29.475887,35.090972,37.214342,36.533898,...,34.264121,37.163584,39.725852,39.853305,39.306825,34.419884,32.255511,30.362166,29.294228,28.988547
18/01/2018,28.307831,28.348594,28.353380,28.348594,28.307831,28.582304,29.728565,35.529689,38.030445,37.935775,...,38.408210,39.616142,41.759383,41.810728,40.358666,37.025251,35.234329,31.729353,30.241442,29.668593
19/01/2018,28.558728,28.599491,28.599491,28.599491,28.558728,28.851452,30.704619,38.340557,41.726146,41.726146,...,36.865883,36.848955,38.817762,39.780862,37.329585,34.750297,30.933381,29.913860,29.262274,29.049683
20/01/2018,28.315195,28.307147,28.350446,28.350446,28.350446,28.422366,28.184047,28.344940,28.751755,29.075735,...,29.463556,29.765999,31.586509,34.193764,33.692214,29.765999,29.087750,28.853656,28.628028,28.631283
21/01/2018,28.547507,28.541996,28.541996,28.541996,28.541996,28.541996,28.416360,28.631283,28.628028,28.853656,...,29.463556,30.688788,33.692214,35.240868,34.647272,33.265952,30.130028,29.086534,28.620432,28.534796
22/01/2018,28.407682,28.462112,28.112812,28.019014,28.205479,28.602055,29.632087,36.216907,35.954409,35.673449,...,36.530739,36.566360,36.761443,37.226813,37.087806,38.963844,35.320051,34.135292,29.957279,29.596854
23/01/2018,28.581827,28.648297,28.585082,28.585082,28.558262,28.925710,34.088942,39.357583,37.077551,36.581497,...,34.714087,35.622692,35.294836,32.997572,32.608478,32.017286,29.971912,27.985917,27.321095,27.065705
24/01/2018,26.119088,26.104283,25.979945,26.461227,26.585565,27.256974,28.507182,31.454109,31.566176,30.656499,...,29.383438,29.884988,30.705107,30.819334,30.076023,28.107356,27.423465,27.194288,27.404933,27.436668
25/01/2018,25.505643,25.666891,25.666891,25.666891,26.148173,26.791864,27.826919,28.734970,30.139886,30.244507,...,29.293306,29.509845,31.067276,31.956281,31.406156,30.088419,29.381949,28.998067,28.757138,28.918189

In [73]:
temp1

[23.3096005,
 23.37788854,
 23.37788854,
 23.37788854,
 23.37788854,
 23.61272994,
 24.19558279,
 24.59846164,
 25.17615885,
 25.29089009,
 25.33970108,
 25.28894334,
 25.28894334,
 25.28894334,
 25.28894334,
 25.84064117,
 25.97547832,
 25.97311673,
 25.84064117,
 25.53141067,
 25.25526963,
 25.13279607,
 24.56989233,
 24.56255672,
 24.12914853,
 24.54241854,
 26.34956771,
 27.30961637,
 27.64820247,
 28.24267722,
 29.18921027,
 30.67432156,
 31.30762269,
 31.30762269,
 31.52160835,
 31.54929989,
 31.4982423,
 31.47125416,
 31.59806086,
 32.54148872,
 33.25341913,
 33.28040727,
 33.42359747,
 32.68081562,
 32.76383801,
 32.06855064,
 31.70829604,
 31.37052362,
 30.16143934,
 30.36758571,
 30.37627394,
 30.41069009,
 30.40200186,
 30.45166677,
 31.64345132,
 33.14186172,
 33.28095011,
 33.35899584,
 33.73967862,
 33.5865511,
 33.19041674,
 33.19041674,
 33.68892088,
 34.04301913,
 34.84450591,
 34.13552788,
 32.54148872,
 31.54929989,
 31.13509735,
 30.43980998,
 29.82214758,
 29.01086366,
 27.172281,
 27.15358771,
 26.83970918,
 26.92640702,
 26.90182097,
 26.50524879,
 27.66462394,
 28.9888645,
 30.11734305,
 30.11734305,
 30.30638045,
 30.27302537,
 30.19497964,
 30.46280061,
 30.55692103,
 31.5624864,
 32.23699015,
 32.23699015,
 32.21526754,
 31.16675559,
 30.95780902,
 30.21327988,
 29.64485926,
 29.28432706,
 27.95870655,
 27.96646808,
 27.96646808,
 27.5181258,
 27.40036263,
 27.36900044,
 27.24252921,
 27.96868322,
 28.32921542,
 28.94687782,
 29.67352738,
 29.64216519,
 29.40570641,
 29.29471474,
 29.29471474,
 29.13970035,
 29.36887683,
 29.36887683,
 29.01734073,
 28.78816425,
 28.30160957,
 27.8943849,
 27.23266533,
 26.68516733,
 29.04759626,
 29.07123901,
 29.3717052,
 29.3717052,
 29.77684589,
 29.87142698,
 29.13268798,
 29.65890508,
 29.40305618,
 28.93732233,
 28.83846813,
 28.03165812,
 25.94216539,
 25.64811354,
 25.32811055,
 25.68377988,
 26.39956735,
 26.66947424,
 27.66336193,
 27.78692985,
 27.23523202,
 27.08098269,
 26.71740993,
 26.47222048,
 27.55049063,
 27.69916654,
 27.60487077,
 27.50056252,
 27.06136043,
 27.08234967,
 27.08814049,
 27.50710756,
 27.23409825,
 27.1766988,
 27.54247864,
 27.31574917,
 27.33055404,
 26.99132577,
 26.95056272,
 27.51507095,
 27.47479153,
 28.25985757,
 28.45110196,
 28.51667579,
 28.22153767,
 28.31260927,
 28.04986904,
 27.94797624,
 27.59315371,
 27.68797556,
 27.66354525,
 27.73398434,
 27.62092973,
 28.08430591,
 28.82436099,
 29.44569431,
 29.88063727,
 29.92786806,
 29.92786806,
 29.90403844,
 29.92017792,
 29.90403844,
 29.90403844,
 30.79757294,
 32.79670164,
 33.27159708,
 30.43202378,
 29.59875011,
 29.07381304,
 28.89743121,
 28.5903088,
 28.38322636,
 27.06020297,
 26.44048536,
 26.22589244,
 25.85784737,
 25.65422043,
 25.91953343,
 26.87110775,
 27.42903981,
 27.53140959,
 28.52218209,
 28.54632706,
 29.58982426,
 29.82373542,
 30.00123956,
 30.08841852,
 30.41030118,
 32.24584033,
 33.77314728,
 31.95826307,
 29.92972829,
 29.53638604,
 29.35645279,
 29.0428155,
 28.91818882,
 28.22872481,
 28.08117039,
 27.97715397,
 27.97715397,
 28.04635258,
 28.67095761,
 29.81428123,
 31.63671765,
 32.5963512,
 32.64741233,
 33.23158707,
 33.66876532,
 33.66876532,
 33.66876532,
 33.66876532,
 35.28001486,
 37.53975656,
 37.97331562,
 36.9614986,
 34.71415671,
 32.51924467,
 31.96082175,
 30.81377223,
 29.67417206,
 29.45233345,
 29.32090044,
 29.32090044,
 29.32090044,
 29.45233345,
 30.59594227,
 32.9835032,
 35.36202428,
 39.40231923,
 39.40231923,
 40.03926781,
 39.98851007,
 39.3515615,
 36.60179484,
 36.99445778,
 40.03985455,
 41.26891717,
 41.47780101,
 40.03985455,
 36.3309733,
 34.42830619,
 33.4564357,
 32.78449655,
 32.00065432,
 30.06335699,
 29.25361048,
 29.20223474,
 29.12217747,
 29.25361048,
 29.80750804,
 31.07539134,
 32.02632874,
 32.92334597,
 33.2918692,
 34.30099112,
 34.54112609,
 34.48978161,
 34.17904014,
 34.26906371,
 34.59719014,
 36.86149393,
 38.56894678,
 37.64900336,
 34.69795554,
 33.24871178,
 32.27684129,
 32.18165223,
 31.19435378,
 30.09583761,
 29.96002919,
 29.59645643,
 29.63087258,
 30.01137367,
 30.01137367,
 30.10636424,
 31.00048695,
 31.59408826,
 32.26602741,
 32.34407314,
 32.94374843,
 32.39283411,
 32.37590579,
 32.34148964,
 33.27923833,
 34.29100359,
 35.96316456,
 34.27934393,
 33.1579063,
 32.00302082,
 31.73643846,
 30.95595735,
 30.54723944,
 30.01911342,
 29.79297492,
 29.80463458,
 29.97382471,
 30.3214472,
 31.90341678,
 35.13136166,
 43.56842782,
 46.98563027,
 44.01449735,
 44.01449735,
 43.51767008,
 42.07474344,
 41.96051596,
 41.96051596,
 43.51767008,
 45.43146605,
 46.16882124,
 41.90408925,
 38.73199602,
 34.39662449,
 33.49056709,
 32.11690453,
 31.03421976,
 31.15272823,
 30.52383513,
 30.22539256,
 30.37533797,
 30.25145019,
 30.46081443,
 31.8537976,
 35.99099082,
 37.19817812,
 36.88521527,
 37.19817812,
 36.84414659,
 36.69212678,
 35.80050063,
 35.80050063,
 36.80796213,
 37.17569061,
 37.17569061,
 37.12092499,
 35.80050063,
 35.29093314,
 33.09878202,
 31.7934762,
 31.4027893,
 30.37735917,
 30.16052933,
 30.42583686,
 30.73026185,
 30.81043504,
 32.20369966,
 34.466843,
 39.69591987,
 41.4953645,
 40.72510397,
 43.23826343,
 43.75007443,
 44.00535179,
 42.67826049,
 43.15447332,
 44.21140346,
 45.68738068,
 47.12956411,
 44.62583416,
 43.48411894,
 39.20652672,
 36.91046185,
 35.07153033,
 34.10432074,
 33.56376348,
 33.07690341,
 33.07690341,
 33.07690341,
 33.30304192,
 34.45033408,
 37.2807899,
 45.44192602,
 48.12201924,
 47.35175872,
 47.35175872,
 47.30100098,
 46.83248704,
 45.50539575,
 45.48846742,
 47.2496565,
 48.23176326,
 49.67394668,
 47.52604656,
 44.7014516,
 40.86974119,
 37.49222153,
 35.44225819,
 34.37711237,
 32.899956,
 32.43857645,
 32.15781826,
 31.88074088,
 32.10687938,
 33.073664,
 35.20025195,
 39.96964317,
 41.69976573,
 41.69976573,
 41.69976573,
 41.83454415,
 41.24245506,
 40.23499356,
 39.94259466,
 40.05682213,
 41.02967032,
 41.73538702,
 40.14357445,
 38.66512767,
 35.40600661,
 34.64883395,
 33.71724475,
 32.78532446,
 28.01516885,
 27.97403558,
 27.61046282,
 27.40679058,
 27.61046282,
 27.97403558,
 27.89407178,
 28.12722802,
 28.38619994,
 28.34960069,
 28.58953434,
 28.67794903,
 28.66288107,
 28.61905792,
 28.69850236,
 28.70487715,
 29.35997939,
 31.17379593,
 29.24463658,
 28.40129212,
 28.29892234,
 28.17211564,
 27.9806041,
 28.14558036,
 28.00397787,
 27.84969797,
 27.560354,
 27.40679058,
 27.560354,
 27.87412828,
 27.90679257,
 27.85928499,
 28.09296032,
 28.41850133,
 28.34960069,
 28.58953434,
 28.54111845,
 28.50593097,
 28.61905792,
 28.66983215,
 29.24463658,
 30.94135146,
 29.04760956,
 28.76371507,
 28.25141578,
 28.0222393,
 28.0086857,
 27.83924424,
 26.60036981,
 26.58556494,
 26.58556494,
 26.58556494,
 26.60036981,
 26.56805654,
 27.35875801,
 31.42355804,
 32.20676993,
 32.15200431,
 32.15200431,
 32.10124657,
 31.90404897,
 31.8629803,
 31.8629803,
 32.07875905,
 32.07875905,
 32.07875905,
 32.07875905,
 31.82679584,
 29.81513026,
 27.90866361,
 27.24384169,
 26.96865995,
 26.07832464,
 26.57622485,
 26.58556494,
 26.58556494,
 26.77634155,
 27.21669437,
 28.60955184,
 32.28718792,
 33.5613917,
 33.59711911,
 33.72276722,
 33.67200948,
 33.67200948,
 32.69959298,
 33.17580581,
 33.74267577,
 36.83685046,
 37.06608302,
 34.6936093,
 32.73521427,
 31.22945999,
 29.45610821,
 28.94700633,
 28.59717528,
 28.18559577,
 28.22084683,
 28.3430822,
 28.33059343,
 28.33610541,
 28.60792605,
 29.47588718,
 35.0909716,
 37.2143416,
 36.53389825,
 37.76082153,
 37.58261057,
 36.48314051,
 34.14828576,
 34.26412111,
 37.16358386,
 39.72585173,
 39.85330495,
 39.30682502,
 34.41988379,
 32.25551111,
 30.36216561,
 29.29422761,
 28.98854696,
 28.30783114,
 28.34859418,
 28.35338011,
 28.34859418,
 28.30783114,
 28.58230353,
 29.72856485,
 35.52968915,
 38.03044506,
 37.93577454,
 38.30793932,
 39.65055843,
 38.9870434,
 38.42513853,
 38.40821021,
 39.61614228,
 41.75938344,
 41.81072792,
 40.35866591,
 37.02525074,
 35.2343291,
 31.72935313,
 30.24144232,
 29.66859288,
 28.55872776,
 28.5994908,
 28.5994908,
 28.5994908,
 28.55872776,
 28.8514521,
 30.70461949,
 38.34055681,
 41.72614619,
 41.72614619,
 41.72614619,
 40.24072911,
 38.8691066,
 36.98011043,
 36.86588296,
 36.84895464,
 38.81776213,
 39.78086153,
 37.32958496,
 34.75029665,
 30.93338087,
 29.91386045,
 29.26227379,
 29.04968305,
 28.31519468,
 28.30714674,
 28.35044575,
 28.35044575,
 28.35044575,
 28.42236571,
 28.18404676,
 28.34493988,
 28.75175505,
 29.0757352,
 29.39567332,
 29.76599896,
 29.46355594,
 29.46355594,
 29.46355594,
 29.76599896,
 31.58650924,
 34.19376375,
 33.69221355,
 29.76599896,
 29.08775003,
 28.8536557,
 28.62802753,
 28.63128303,
 28.54750748,
 28.54199551,
 28.54199551,
 28.54199551,
 28.54199551,
 28.54199551,
 28.41635955,
 28.63128303,
 28.62802753,
 28.8536557,
 29.20087698,
 29.76599896,
 29.46355594,
 29.46355594,
 29.46355594,
 30.68878779,
 33.69221355,
 35.2408681,
 34.64727213,
 33.2659521,
 30.13002805,
 29.08653408,
 28.62043247,
 28.53479635,
 28.40768222,
 28.46211232,
 28.11281203,
 28.01901364,
 28.2054788,
 28.60205486,
 29.63208704,
 36.21690724,
 35.95440897,
 35.67344938,
 35.95440897,
 36.37004589,
 36.37004589,
 36.49569399,
 36.53073899,
 36.56636028,
 36.76144283,
 37.22681294,
 37.08780563,
 38.96384423,
 35.32005103,
 34.13529213,
 29.95727895,
 29.59685428,
 28.58182697,
 28.64829695,
 28.58508247,
 28.58508247,
 28.55826177,
 28.92571034,
 34.08894188,
 39.35758276,
 37.07755096,
 36.58149673,
 36.54645173,
 36.49569399,
 36.37004589,
 34.91798388,
 34.7140875,
 35.62269164,
 35.29483613,
 32.99757245,
 32.60847752,
 32.01728603,
 29.97191234,
 27.98591674,
 27.32109483,
 27.06570508,
 26.11908769,
 26.10428281,
 25.9799452,
 26.46122733,
 26.58556494,
 27.25697379,
 28.50718206,
 31.45410898,
 31.56617583,
 30.65649887,
 30.31727059,
 30.07602267,
 29.88498843,
 29.38343823,
 29.38343823,
 29.88498843,
 30.70510687,
 30.81933434,
 30.07602267,
 28.10735634,
 27.42346461,
 27.19428812,
 27.40493336,
 27.4366676,
 25.50564315,
 25.66689136,
 25.66689136,
 25.66689136,
 26.14817348,
 26.79186413,
 27.82691922,
 28.73496972,
 30.13988617,
 30.2445072,
 28.93224085,
 28.88148311,
 28.68421198,
 28.68421198,
 29.29330629,
 29.50984509,
 31.06727635,
 31.9562813,
 31.40615601,
 30.08841852,
 29.3819493,
 28.99806746,
 28.75713797,
 28.91818882]

In [74]:
NGB_NP['Predicted'] = temp1

In [75]:
NGB_NP.reset_index(inplace=True)
df1.reset_index(inplace=True)
NGB_NP['Real Price'] = df1['Price']
NGB_NP.set_index('index',inplace=True)
df1.set_index('Date',inplace=True)

In [79]:
MAE_NGB_NP = pd.DataFrame(columns=['RMSE', 'MAE','sMAPE(%)'], index=NGB_NP.index)
for date in NGB_NP.index:
    MAE_NGB_NP.loc[date]['RMSE'] = RMSE(pd.Series(NGB_NP.loc[date]['Predicted']), pd.Series(NGB_NP.loc[date]['Real Price']))
    MAE_NGB_NP.loc[date]['MAE'] = MAE(pd.Series(NGB_NP.loc[date]['Predicted']), pd.Series(NGB_NP.loc[date]['Real Price']))
    MAE_NGB_NP.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(NGB_NP.loc[date]['Predicted']), pd.Series(NGB_NP.loc[date]['Real Price'])) * 100

In [80]:
#NGBOOST PJM RMSE
print(f"Overall RMSE : {RMSE(NGB_NP['Predicted'], NGB_NP['Real Price'])}")

Overall RMSE : 4.589771168874722

In [77]:
#NGBOOST PJM MAE
print(f"Overall MAE : {MAE(NGB_NP['Predicted'], NGB_NP['Real Price'])}")

Overall MAE : 2.9515584553091396

In [78]:
#NGBOOST PJM MAPE
print(f"Overall sMAPE : {sMAPE(NGB_NP['Predicted'], NGB_NP['Real Price']) * 100} %")

Overall sMAPE : 8.451156083624225 %

# FR LEAR, DNN, NGBOOST

### FR_LEAR_MAE_MAPE

In [98]:
FR

                     Real price      DNN 1  LEAR 56
2015-04-01 00:00:00       36.26  37.908104  38.9034
2015-04-01 01:00:00       32.28  34.774220  33.6675
2015-04-01 02:00:00       27.63  30.165806  29.7656
2015-04-01 03:00:00       23.94  24.531939  25.5819
2015-04-01 04:00:00       15.69  22.675518  22.3733
...                         ...        ...      ...
2015-03-02 19:00:00       68.71  75.608505  61.6084
2015-03-02 20:00:00       61.75  62.047821  55.5862
2015-03-02 21:00:00       53.17  51.751099  49.9943
2015-03-02 22:00:00       51.80  52.766350  50.5059
2015-03-02 23:00:00       46.98  50.929592  49.8164

[744 rows x 3 columns]

In [99]:
MAE_FR = pd.DataFrame(columns=['RMSE', 'MAE','sMAPE(%)'], index=FR.index)
for date in MAE_FR.index:
    MAE_FR.loc[date]['RMSE'] = RMSE(pd.Series(FR.loc[date]['LEAR 56']), pd.Series(FR.loc[date]['Real price']))
    MAE_FR.loc[date]['MAE'] = MAE(pd.Series(FR.loc[date]['LEAR 56']), pd.Series(FR.loc[date]['Real price']))
    MAE_FR.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(FR.loc[date]['LEAR 56']), pd.Series(FR.loc[date]['Real price'])) * 100

In [100]:
MAE_FR

                       RMSE     MAE   sMAPE(%)
2015-04-01 00:00:00  2.6434  2.6434   7.033742
2015-04-01 01:00:00  1.3875  1.3875   4.207893
2015-04-01 02:00:00  2.1356  2.1356   7.441685
2015-04-01 03:00:00  1.6419  1.6419   6.631006
2015-04-01 04:00:00  6.6833  6.6833  35.116766
...                     ...     ...        ...
2015-03-02 19:00:00  7.1016  7.1016  10.898845
2015-03-02 20:00:00  6.1638  6.1638  10.506221
2015-03-02 21:00:00  3.1757  3.1757   6.156587
2015-03-02 22:00:00  1.2941  1.2941   2.529864
2015-03-02 23:00:00  2.8364  2.8364   5.860549

[744 rows x 3 columns]

In [101]:
print(f"Overall MAE : {MAE(FR['LEAR 56'], FR['Real price'])}")

Overall MAE : 3.6409138440860214

In [102]:
print(f"Overall sMAPE : {sMAPE(FR['LEAR 56'], FR['Real price']) * 100} %")

Overall sMAPE : 10.136066936173954 %

In [103]:
print(f"Overall RMSE : {RMSE(FR['LEAR 56'], FR['Real price'])}")

Overall RMSE : 4.997590983945079

### FR_DNN_MAE_MAPE

In [104]:
MAE_FR = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=FR.index)
for date in FR.index:
    MAE_FR.loc[date]['RMSE'] = RMSE(pd.Series(FR.loc[date]['DNN 1']), pd.Series(FR.loc[date]['Real price']))
    MAE_FR.loc[date]['MAE'] = MAE(pd.Series(FR.loc[date]['DNN 1']), pd.Series(FR.loc[date]['Real price']))
    MAE_FR.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(FR.loc[date]['DNN 1']), pd.Series(FR.loc[date]['Real price'])) * 100

In [105]:
print(f"Overall MAE : {MAE(FR['DNN 1'], FR['Real price'])}")

Overall MAE : 3.492987625467742

In [106]:
print(f"Overall sMAPE : {sMAPE(FR['DNN 1'], FR['Real price']) * 100} %")

Overall sMAPE : 9.197918358127502 %

### FR_NGBOOST_MAE_MAPE

In [108]:
MM  = pd.read_csv('FR_DATA.csv', index_col=[0])

In [53]:
MM

                  Predicted  Real Price
Date
01/12/2016 00:00  44.463552       72.00
01/12/2016 01:00  39.963504       65.80
01/12/2016 02:00  38.171424       59.99
01/12/2016 03:00  34.852367       50.69
01/12/2016 04:00  32.619534       52.58
...                     ...         ...
31/12/2016 19:00  50.009299       69.72
31/12/2016 20:00  48.912822       57.10
31/12/2016 21:00  44.061156       54.49
31/12/2016 22:00  40.405223       54.95
31/12/2016 23:00  47.366881       61.19

[744 rows x 2 columns]

In [109]:
MAE_NGB_FR = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=MM.index)
for date in MM.index:
    MM.loc[date]['RMSE'] = RMSE(pd.Series(MM.loc[date]['Predicted']), pd.Series(MM.loc[date]['Real Price']))
    MM.loc[date]['MAE'] = MAE(pd.Series(MM.loc[date]['Predicted']), pd.Series(MM.loc[date]['Real Price']))
    MM.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(MM.loc[date]['Predicted']), pd.Series(MM.loc[date]['Real Price'])) * 100

In [111]:
#NGBOOST FR MAE
print(f"Overall MAE : {MAE(MM['Predicted'], MM['Real Price'])}")

Overall MAE : 14.890192014395161

In [112]:
#NGBOOST FR MAPE
print(f"Overall sMAPE : {sMAPE(MM['Predicted'], MM['Real Price']) * 100} %")

Overall sMAPE : 28.618586036865622 %

In [113]:
#NGBOOST FR RMSE
print(f"Overall RMSE : {RMSE(MM['Predicted'], MM['Real Price'])}")

Overall RMSE : 19.934676222291863